@import url('./reset.css');
@import url('./select/index.css');
@import url('./radio/index.css');
@import url('./checkbox/index.css');

label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.col:last-child {
}