@import url('./swipper/index.css');
@import url('./aboutus/index.css');

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.651vw;
}

.heading > .title {
  color: #1F1F1F;
}

.heading > .subtitle {
  width: 62.558vw;
}
