@import url('./swipper/index.css');
@import url('./aboutus/index.css');

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.heading > .title {
  color: #1F1F1F;
}

.heading > .subtitle {
  width: 60%;
}
