@import url('./swipper/index.css');
@import url('./aboutus/index.css');

.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.651vw;
}

.heading > .title {
  color: #1F1F1F;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.heading > .subtitle-2 {
  width: 62.558vw;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .heading > .title {
    width: 100%;
    font-size: 80px;
  }

  .heading > .subtitle-2 {
    width: 100%;
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .main-wrapper {
    gap: 21.333vw;
  }

  .heading > .title {
    font-size: 8.533vw;
  }

  .heading > .subtitle-2 {
    width: 77.6vw;
    font-size: 4.267vw;
    -webkit-line-clamp: 5;
  }
}
