.intro {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  width: 100%;
  margin-top: 2.604vw;
  padding-bottom: 20.833vw;
}

.intro > .nav-link {
  padding: 0.729vw 1.667vw;
  width: 11.628vw;
}

.intro .nav-text::after {
  position: relative;
  display: inline-block;
  text-align: center;
  content: '';
  width: 1.86vw;
  height: 1.86vw;
  margin-left: 0.833vw;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-size: 1.86vw 3.721vw;
  background-position: 0 -1.86vw;
}

.intro .title {
  font-size: 4.651vw;
  width: 42.674vw;
}

.intro .subtitle {
  font-size: 1.977vw;
}
