.intro {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  width: 100%;
  margin-top: 2.604vw;
  padding-bottom: 19vw;
}

.intro > .nav-link-btn {
  padding: 0.729vw 1.667vw;
  width: 10.26vw;
}

.intro .nav-text::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.667vw;
  width: 1.86vw;
  height: 1.86vw;
  background-image: url('../../../assets/icons/arrow-right.svg');
  background-size: 1.86vw 3.721vw;
  background-position: 0 -1.86vw;
}

.intro .title {
  width: 42.674vw;
  margin-top: 8.854vw;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.intro .subtitle {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.intro-mobile {
  display: none;
  margin-top: 44.8vw;
  text-align: center;
}

.intro-mobile > .big-logo {
  width: 64.8vw;
}

.intro-mobile > .subtitle {
  width: 60vw;
  margin-top: 7.467vw;
  font-size: 4.267vw;
  font-weight: 500;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .intro > .nav-link-btn {
    padding: 14px 32px;
    width: 200px;
  }

  .intro .nav-text::after {
    right: 32px;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    background-size: 32px 64px;
    background-position: 0 -32px;
  }

  .intro .title {
    width: 100%;
    font-size: 80px;
  }

  .intro .subtitle {
    width: 100%;
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    display: none;
  }

  .intro-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
