.intro {
  display: flex;
  flex-direction: column;
  gap: 1.563vw;
  width: 100%;
  margin-top: 2.604vw;
  padding-bottom: 19vw;
}

.intro > .nav-link {
  padding: 0.729vw 1.667vw;
  width: 11.628vw;
}

.intro .nav-text::after {
  position: relative;
  display: inline-block;
  text-align: center;
  content: '';
  width: 1.86vw;
  height: 1.86vw;
  margin-left: 0.833vw;
  background-image: url('../../../assets/icons/arrow-right.svg');
  background-size: 1.86vw 3.721vw;
  background-position: 0 -1.86vw;
}

.intro .title {
  width: 42.674vw;
  margin-top: 8.854vw;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .intro > .nav-link {
    padding: 32px 14px;
    width: 200px;
  }

  .intro .nav-text::after {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    background-size: 32px 64px;
    background-position: 0 -32px;
  }

  .intro .title {
    width: 100%;
    font-size: 80px;
  }

  .intro .subtitle {
    width: 100%;
    font-size: 26px;
  }
}
