@import url('./reset.css');
/* @import url('../assets/fonts/Gilroy/stylesheet.css'); */
@import url('./typography/index.css');
@import url('./icons/index.css');
@import url('./header/index.css');
@import url('./main/index.css');

html, body {
  font-family: 'Gilroy', Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
