.wrapper {
  display: flex;
  gap: 1rem;
}

.col-5, .col-2 {
  padding: 1rem;
  overflow: auto;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 5px 0px #ccc;
}

.col-5 {
  flex: 5;
}

.col-2 {
  flex: 2;
}
