@import url('./intro/index.css');

.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.292vw 5.208vw;
  width: 100%;
  background-image: url('../../assets/images/header.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.header-wrapper > span {
  display: block;
  align-self: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 40px; */
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.083vw;
  color: #114455;
}

.logo {
  width: 10.202vw;
  height: 1.86vw;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.523vw;
  height: 2.917vw;
  padding: 0.625vw 1.25vw;
  font-family: 'Gilroy';
  font-size: 1.042vw;
  font-weight: 800;
}

.nav-text {
  display: flex;
  align-items: center;
}

.header .nav .nav-text::after {
  position: relative;
  display: inline-block;
  text-align: center;
  content: '';
  width: 1.86vw;
  height: 1.86vw;
  margin-left: 0.833vw;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-size: 1.86vw 3.721vw;
  background-position: 0 0;
}

.outline {
  border: 1px solid #114455;
}

.primary {
  background-color: #114455;
  color: white;
}

.exp {
  margin-top: 2.326vw;
}
