@import url('./intro/index.css');

.header-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2.292vw 5.208vw 1vw;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/header.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.header-wrapper > a {
  position: absolute;
  bottom: 3.073vw;
  display: block;
  align-self: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 40px 40px; */
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 6.146vw;
  color: #114455;
}

.nav-mobile {
  display: none;
  position: relative;
  width: 6.4vw;
  height: 6.4vw;
  cursor: pointer;
}

.nav-mobile > .checkbox {
  display: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  outline: none;
}

.nav-mobile > .burger-menu::before {
  position: absolute;
  content: '';
  border: 1.5px solid #114455;
  width: 5.333vw;
  height: 0;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.nav-mobile > .burger-menu::after {
  position: absolute;
  content: '';
  border: 1.5px solid #114455;
  width: 5.333vw;
  height: 0;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.logo {
  width: 10.202vw;
  height: 1.86vw;
  background-image: url('../../assets/logo.svg');
  background-size: 10.202vw 3.72vw;
  background-position: 0 0;
}

.nav-link {
  width: 4.375vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Gilroy';
  font-size: 1.042vw;
  font-weight: 800;
}

.nav-link-btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 9.427vw;
  height: 2.917vw;
  padding: 0.625vw 1.25vw;
  border: 1px solid #114455;
  font-family: 'Gilroy';
  font-size: 1.042vw;
  font-weight: 800;
}

.nav-text {
  width: 4.427vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .nav .nav-text::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.25vw;
  width: 1.86vw;
  height: 1.86vw;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-size: 1.86vw 3.721vw;
  background-position: 0 0;
}

.primary {
  background-color: #114455;
  color: white;
}

.exp {
  margin-top: 2.326vw;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header-wrapper > a {
    bottom: 59px;
  }

  .logo {
    width: 175px;
    height: 32px;
    background-size: 175px 64px;
    background-position: 0 0;
  }

  .nav-link {
    width: 84px;
    font-size: 20px;
  }

  .nav-link-btn {
    width: 200px;
    height: 56px;
    padding: 12px 24px;
    font-size: 20px;
  }

  .nav-text {
    width: 85px;
  }

  .header .nav .nav-text::after {
    right: 24px;
    width: 36px;
    height: 36px;
    margin-left: 16px;
    background-size: 36px 72px;
  }

  .icn-expand {
    width: 39px;
    height: 30px;
    background-size: 39px 30px;
  }
}

@media screen and (max-width: 767px) {
  .header-wrapper {
    padding: 13.333vw 6.4vw;
    background-image: url('../../assets/images/header.png');
    background-size: auto 100vh;
    background-position: -53.333vw center;
  }

  .logo {
    width: 29.245vw;
    height: 5.333vw;
    background-size: 29.245vw 10.666vw;
    background-position: 0 0;
  }

  .nav {
    display: none;
  }

  .nav-mobile {
    display: block;
  }

  .icn-expand {
    width: 4.267vw;
    height: 5.067vw;
    background-size: 4.267vw 5.067vw;
  }

  .header-wrapper > a {
    bottom: 12vw;
  }
}
