.icn-arrow {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-size: 32px 64px;
}

.right-green {
  background-position: 0 0;
}

.right-white {
  background-position: 0 -32px;
}

.icn-expand {
  display: inline-block;
  width: 2.209vw;
  height: 1.628vw;
  background-image: url('../../assets/icons/expand.svg');
  background-size: 2.209vw 1.628vw;
}

.down {
  background-position: 0 0;
}

.icn-social {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('../../assets/icons/socials.svg');
  background-size: 40px 160px;
}

.instagram {
  background-position: 0 0;
}

.facebook {
  background-position: 0 -40px;
}

.twitter {
  background-position: 0 -80px;
}

.linkedin {
  background-position: 0 -120px;
}

