.icn-arrow {
  display: inline-block;
  width: 1.86vw;
  height: 1.86vw;
  background-image: url('../../assets/icons/arrow-right.svg');
  background-size: 1.86vw 3.721vw;
}

.right-green {
  background-position: 0 0;
}

.right-white {
  background-position: 0 -1.86vw;
}

.icn-expand {
  display: inline-block;
  width: 2.209vw;
  height: 1.628vw;
  background-image: url('../../assets/icons/expand.svg');
  background-size: 2.209vw 1.628vw;
}

.down {
  background-position: 0 0;
}

.icn-social {
  display: inline-block;
  width: 2.326vw;
  height: 2.326vw;
  background-image: url('../../assets/icons/socials.svg');
  background-size: 2.326vw 9.302vw;
}

.instagram {
  background-position: 0 0;
}

.facebook {
  background-position: 0 -2.326vw;
}

.twitter {
  background-position: 0 -4.651vw;
}

.linkedin {
  background-position: 0 -6.977vw;
}

