@import url('./reset.css');
@import url('./flex/flex.css');
/* @import url('./grid/grid.css'); */
/* @import url('./grid/grid.css'); */
/* @import url('./positioning/positioning.css'); */
/* @import url('./flex/flex.css'); */

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}