@import url('./reset.css');
@import url('./flex/index.css');
/* @import url('./grid/index.css'); */
/* @import url('./positioning/index.css'); */
/* @import url('./flex/index.css'); */

body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}
