.container {
  position: relative;
  height: 200px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-thumb {
  background-color: #282d32;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-track {
  margin-top: 2.25rem;
  background-color: transparent
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table th {
  background-color: #282d32;
  color: #fff;
}

.table th,
.table td {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  box-sizing: border-box;
}

.table th:first-child {
  border-radius: 0.25rem 0 0 0;
}

.table th:last-child {
  position: relative;
  border-radius: 0 0.25rem 0 0;
}

.table td:first-child {
  width: 2rem;
  position: relative;
}

.available::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.unavailable::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
