.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4.271vw 5.208vw;
}

.footer-wrapper > .footer-text {
  width: 62.558vw;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37.442vw;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.551vw;
}

.socials > .icn-social {
  cursor: pointer;
  transition: 0.3s;
}

.socials > .icn-social:hover {
  cursor: pointer;
}