.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.6vw;
  padding: 4.271vw 5.208vw;
}

.footer-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-wrapper > .footer-text {
  width: 62.558vw;
}

.footer-wrapper > .link-wrapper > .footer-text {
  width: 10.698vw;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37.442vw;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.551vw;
}

.socials > .icn-social {
  cursor: pointer;
  transition: 0.3s;
}

.socials > .icn-social:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .link-wrapper {
    width: 100%;
  }

  .footer-text {
    font-size: 20px;
  }

  .footer-wrapper > .link-wrapper > .footer-text {
    width: 184px;
  }

  .icn-social {
    width: 40px;
    height: 40px;
    background-size: 40px 160px;
  }

  .instagram {
    background-position: 0 0;
  }

  .facebook {
    background-position: 0 -40px;
  }

  .twitter {
    background-position: 0 -80px;
  }

  .linkedin {
    background-position: 0 -120px;
  }
}
