.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.6vw;
  padding: 4.271vw 5.208vw;
}

.footer-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-wrapper > .footer-text {
  width: 62.558vw;
}

.footer-wrapper > .link-wrapper > .footer-text {
  width: 10.698vw;
}

.link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 37.442vw;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.551vw;
}

.socials > .icn-social {
  cursor: pointer;
  transition: 0.3s;
}

.socials > .icn-social:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .link-wrapper {
    width: 100%;
  }

  .footer-text {
    font-size: 20px;
  }

  .footer-wrapper > .link-wrapper > .footer-text {
    width: 184px;
  }

  .icn-social {
    width: 40px;
    height: 40px;
    background-size: 40px 160px;
  }

  .instagram {
    background-position: 0 0;
  }

  .facebook {
    background-position: 0 -40px;
  }

  .twitter {
    background-position: 0 -80px;
  }

  .linkedin {
    background-position: 0 -120px;
  }
}

@media screen and (max-width: 767px) {
  .footer-wrapper {
    flex-direction: column-reverse;
    width: 100%;
    gap: 8.533vw;
    padding: 8.533vw 0;
  }

  .link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.267vw;
  }

  .footer-text {
    text-align: center;
  }

  .footer-wrapper > .footer-text {
    font-size: 3.733vw;
  }

  .footer-wrapper > .link-wrapper > .footer-text {
    width: 40.533vw;
    font-size: 4.267vw;
  }

  .socials {
    gap: 6.4vw;
  }

  .icn-social {
    width: 6.4vw;
    height: 6.4vw;
    background-size: 6.4vw 25.6vw;
  }

  .instagram {
    background-position: 0 0;
  }

  .facebook {
    background-position: 0 -6.4vw;
  }

  .twitter {
    background-position: 0 -12.8vw;
  }

  .linkedin {
    background-position: 0 -19.2vw;
  }
}
