.container {
  width: 700px;
  height: 700px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element {
  text-align: center;
}

/*
.container {
  display: flex;
}

.element {
  margin: auto;
}
*/