.intro {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin-top: 50px;
}

.intro-heading {
  font-family: 'Gilroy-Bold', sans-serif;
  width: 40%;
  font-size: 48px;
  color: #114455;
  letter-spacing: 0em;
  text-align: left;
}

.intro-subtitle {
  font-family: 'Gilroy-Light', sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;

}

.intro > .nav-link {
  width: 197px;
}