.swipper {
  padding: 5.208vw 5.417vw;
}

.card-list {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 5.208vw;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card-wrapper {
  position: relative;
  flex: 0 0 auto;
  width: 33.594vw;
  height: 39.583vw;
  margin-left: 7.292vw;
}

.card-wrapper:first-child {
  margin-left: 3.646vw;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-wrapper img {
  width: 100%;
  height: auto;
}

.city {
  position: absolute;
  width: 37.5vw;
  top: 80%;
  left: -4.167vw;
  transform: translateY(-80%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 7.292vw;
  letter-spacing: 0em;
  text-align: left;
  background: #114455;
  background: linear-gradient(to right, #114455 0, #114455 4.167vw, #FFFFFF 0%, #FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 767px) {
  .swipper {
    padding: 0 5.417vw;
  }

  .card-list {
    margin-top: 8.267vw;
  }

  .card-wrapper {
    width: 59.733vw;
    height: 70.4vw;
    margin-left: 17.333vw;
  }

  .card-wrapper:first-child {
    margin-left: 8.8vw;
  }

  .city {
    width: 65vw;
    top: 80%;
    left: -8.8vw;
    font-size: 16vw;
    background: linear-gradient(to right, #114455 0, #114455 8.8vw, #FFFFFF 0%, #FFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
