.swipper {
  padding: 5.208vw 5.417vw;
}

.card-list {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 5.208vw;
}

.card-wrapper {
  position: relative;
  flex: 0 0 auto;
  width: 33.594vw;
  height: 39.583vw;
  margin-left: 7.292vw;
}

.card-wrapper:first-child {
  margin-left: 3.646vw;
}

.card-list::-webkit-scrollbar {
  display: none;
}

.card-wrapper img {
  width: 100%;
  height: auto;
}

.city {
  position: absolute;
  top: 80%;
  left: -4.167vw;
  transform: translateY(-80%);
  font-family: 'Gilroy';
  font-weight: 800;
  font-size: 7.292vw;
  letter-spacing: 0em;
  text-align: left;
  background: #114455;
  background: linear-gradient(to right, #114455 0, #114455 4.167vw, #FFFFFF 0%, #FFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
