@import url('./fonts/index.css');

.title {
  font-family: 'Gilroy';
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
  color: #114455;
  letter-spacing: 0em;
  text-align: left;
}

.subtitle {
  font-family: 'Gilroy';
  color: #1F1F1F;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  text-align: left;
}

.subtitle-2 {
  font-family: 'Gilroy';
  color: #1F1F1F;
  font-weight: 500;
  font-style: normal;
  font-size: 28px;
  text-align: left;
}
